* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #d090ff;
}

.loginbtn {
  background-color: #9500ff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.right-container {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-72%, -50%);
  width: 50%;
  height: 80%;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
}

.left-container {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-22%, -50%);
  width: 25%;
  height: 80%;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
}

.med {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}


.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
}

@media (max-width: 768px) {
  .right-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 80%;
    height: 37.5%;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    overflow: auto;
  }
  
  .left-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 80%;
    height: 35%;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    overflow: auto;
  }
}
